{% extends "jefe.html" %}
{% block content %}
<h1>Egresos (Carros de Compra)</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Número de Carro</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for egreso in egresos %}
        <tr>
            <td>{{ egreso.numero_carro }}</td>
            <td>
                <a href="{% url 'agregar_productos' egreso.id %}" class="btn btn-primary">Asignar Productos</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
