{% extends "jefe.html" %}

{% load static %}
{% load widget_tweaks %}

{% block content %}

<link rel="stylesheet" href="{% static 'index/css/b4.css' %}">
<script src="{% static 'index/js/b4.js' %}"></script>

<!-- Agregar Producto Modal -->
<div id="AgregarProductoModal" class="modal" style="overflow: scroll;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-dark">Agregar nuevo producto</h5>
            </div>
            <div class="modal-body bg-dark text-white">
                <form method="POST" action="{% url 'Addproducto2' %}" enctype="multipart/form-data">{% csrf_token %}
                    {% for field in form_personal %}
                    <p>{{field.label}} <br>
                        {{field|add_class:"form-control text-dark"}}</p>
                    {% for error in field.errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <p class="alarma">{{error}}</p> 
                    {% endfor %}
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancelar
                </button>
                <button type="submit" class="btn btn-success">
                    Agregar
                </button>
            </div>
                </form>
        </div>
    </div>
</div>



<!-- Editar Producto Modal -->
<div id="EditarProductoModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-dark">Editar producto</h5>
            </div>
            <div class="modal-body bg-dark text-white">
                <form method="POST" action="{% url 'Editproducto2' %}" enctype="multipart/form-data">{% csrf_token %}
                    <input type="hidden" id="id_producto_editar" name="id_producto_editar">
                    {% for field in form_edit %}
                    <p>{{field.label}} <br>
                        {{field|add_class:"form-control"}}</p>
                    {% for error in field.errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
            </div>
            <div class="modal-footer bg-dark text-white">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Volver
                </button>
                <button type="submit" class="btn btn-success">
                    Aceptar
                </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Eliminar Producto Modal -->
<div id="EliminarPersonalModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-dark">Eliminar producto</h5>
            </div>
            <div class="modal-body bg-dark text-white">
                <p class="labelmodal">¿Estás seguro de querer eliminar este producto?</p>
                <form method="POST" action="{% url 'Deleteproducto2' %}">{% csrf_token %} 
                    <input type="hidden" id="id_producto_eliminar" name="id_producto_eliminar" value="{{item.id}}">
            </div>
            <div class="modal-footer bg-dark text-white">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Volver
                </button>
                <button type="submit" class="btn btn-success">
                    Aceptar
                </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Inventario   <i class="fas fa-users"></i></h3>
        <div class="col-md-3 pb-2">
            <a href="#AgregarProductoModal"
                data-toggle="modal" data-dismiss="modal">
                <button type="button" class="btn btn-success">
                    Agregar Producto
                    <i class="fas fa-plus-circle"></i>
                </button>
            </a>
        </div>
        <div class="card card-body" style="overflow:scroll">
            <table class="table table-hover table-primary" id="myTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Categoría</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio Compra</th>
                        <th>Precio Venta</th>
                        <th>Proveedor</th>
                        <th>En Stock</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="text-dark">
                    {% for item in productos %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.categoria.nombre}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.descripcion}}</td>
                        <td>${{item.precio_compra}}</td>
                        <td>${{item.precio_venta}}</td>
                        <td>{{item.proveedor}}</td>
                        <td>{{item.en_stock}}</td>
                    <td>
                        <button onclick="editarPersonal('{{item.id}}','{{item.nombre}}', '{{item.descripcion}}', '{{item.precio_compra}}', '{{item.precio_venta}}', '{{item.proveedor}}', '{{item.en_stock}}')" class="btn btn-dark-outline btn-sm" data-toggle="modal" href="#EditarProductoModal"><img src="{% static 'index/img/editar.png' %}" alt="Error" width="30"></button>

                        <button onclick="eliminarProducto('{{item.id}}')" class="btn btn-dark-outline btn-sm" data-toggle="modal" href="#EliminarPersonalModal"><img src="{% static 'index/img/delete.png' %}" alt="Error" width="30"></button>
                        
                                    
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% if messages %}
{% for message in messages %}
<script>
    Swal.fire({
        icon: 'error',
        title: 'Error...',
        text: "{{message}}",
    })
</script>
{% endfor %}
{% endif %}
{% endblock %}

